In [6]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# import seaborn as sns
import numpy as np

In [7]:
train = pd.read_csv('train.csv')

In [8]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [9]:
x = train.drop('Loan_ID',1)

In [10]:
x = x.drop('Loan_Status',1)

In [11]:
y = train['Loan_Status']

In [12]:
x['Gender'].value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [13]:
x['Married'].value_counts()

Yes    398
No     213
Name: Married, dtype: int64

In [14]:
x['Education'].value_counts()

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

In [15]:
x['Self_Employed'].value_counts()

No     500
Yes     82
Name: Self_Employed, dtype: int64

In [16]:
x['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [17]:
x['Property_Area'].value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [18]:
x.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
dtype: int64

In [19]:
y.isnull().sum()

0

In [20]:
# x['Gender'].fillna(x['Gender'].mode()[0],inplace=True)
x = x.drop('Gender',1)
x['Married'].fillna(x['Married'].mode()[0],inplace=True)
x['Dependents'].fillna(x['Dependents'].mode()[0],inplace=True)
x['Self_Employed'].fillna(x['Self_Employed'].mode()[0],inplace=True)
x['LoanAmount'].fillna(x['LoanAmount'].mode()[0],inplace=True)
x['Loan_Amount_Term'].fillna(x['Loan_Amount_Term'].mode()[0],inplace=True)
x['Credit_History'].fillna(x['Credit_History'].mode()[0],inplace=True)

In [21]:
x.isnull().sum()

Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [22]:
# Gmap = {'Male' : 0, 'Female' : 1}
# x['Gender'] = x['Gender'].map(Gmap)

In [23]:
Mmap = {'Yes' : 0, 'No' : 1}
x['Married'] = x['Married'].map(Mmap)

In [24]:
Dmap = {'0' : 0, '1' : 1, '2' : 2, '3+' : 3}
x['Dependents'] = x['Dependents'].map(Dmap)

In [25]:
Smap = {'Yes' : 1, 'No' : 0}
x['Self_Employed'] = x['Self_Employed'].map(Smap)

In [26]:
Pmap = {'Urban' : 0, 'Semiurban' : 1, 'Rural' : 2}
x['Property_Area'] = x['Property_Area'].map(Pmap)

In [27]:
# STmap = {'Y' : 0, 'N' : 1}
# y = y.map(STmap)

In [28]:
Emap = {'Graduate' : 0, 'Not Graduate':1}
x['Education'] = x['Education'].map(Emap)

In [29]:
y.head()

0    Y
1    N
2    Y
3    Y
4    Y
Name: Loan_Status, dtype: object

In [30]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Married            614 non-null    int64
 1   Dependents         614 non-null    int64
 2   Education          614 non-null    int64
 3   Self_Employed      614 non-null    int64
 4   ApplicantIncome    614 non-null    int64
 5   CoapplicantIncome  614 non-null    float64
 6   LoanAmount         614 non-null    float64
 7   Loan_Amount_Term   614 non-null    float64
 8   Credit_History     614 non-null    float64
 9   Property_Area      614 non-null    int64
dtypes: float64(4), int64(6)
memory usage: 48.1 KB

In [31]:
x.head()

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,0,5849,0.0,120.0,360.0,1.0,0
1,0,1,0,0,4583,1508.0,128.0,360.0,1.0,2
2,0,0,0,1,3000,0.0,66.0,360.0,1.0,0
3,0,0,1,0,2583,2358.0,120.0,360.0,1.0,0
4,1,0,0,0,6000,0.0,141.0,360.0,1.0,0

In [32]:
y.head()

0    Y
1    N
2    Y
3    Y
4    Y
Name: Loan_Status, dtype: object

In [33]:
test = pd.read_csv('test.csv')

In [34]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [35]:
test['Gender'].value_counts()

Male      286
Female     70
Name: Gender, dtype: int64

In [36]:
test['Married'].value_counts()

Yes    233
No     134
Name: Married, dtype: int64

In [37]:
test['Dependents'].value_counts()

0     200
2      59
1      58
3+     40
Name: Dependents, dtype: int64

In [38]:
test['Education'].value_counts()

Graduate        283
Not Graduate     84
Name: Education, dtype: int64

In [39]:
test['Self_Employed'].value_counts()

No     307
Yes     37
Name: Self_Employed, dtype: int64

In [40]:
test['Property_Area'].value_counts()

Urban        140
Semiurban    116
Rural        111
Name: Property_Area, dtype: int64

In [41]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [42]:
# test['Gender'].fillna(test['Gender'].mode()[0],inplace=True)
test['Credit_History'].fillna(test['Credit_History'].mode()[0],inplace=True)
test['Dependents'].fillna(test['Dependents'].mode()[0],inplace=True)
test['Self_Employed'].fillna(test['Self_Employed'].mode()[0],inplace=True)
test['LoanAmount'].fillna(test['LoanAmount'].mode()[0],inplace=True)
test['Loan_Amount_Term'].fillna(test['Loan_Amount_Term'].mode()[0],inplace=True)
test = test.drop('Gender',1)

In [43]:
test.isnull().sum()

Loan_ID              0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [44]:
# Gmap = {'Male' : 0, 'Female' : 1}
Mmap = {'Yes' : 0, 'No' : 1}
Dmap = {'0' : 0, '1' : 1, '2' : 2, '3+' : 3}
Smap = {'Yes' : 1, 'No' : 0}
Pmap = {'Urban' : 0, 'Semiurban' : 1, 'Rural' : 2}
Emap = {'Graduate' : 0, 'Not Graduate':1}

# test['Gender'] = test['Gender'].map(Gmap)
test['Married'] = test['Married'].map(Mmap)
test['Dependents'] = test['Dependents'].map(Dmap)
test['Self_Employed'] = test['Self_Employed'].map(Smap)
test['Property_Area'] = test['Property_Area'].map(Pmap)
test['Education'] = test['Education'].map(Emap)

In [45]:
y.head()

0    Y
1    N
2    Y
3    Y
4    Y
Name: Loan_Status, dtype: object

In [46]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,stratify=y,test_size=0.2)
from sklearn.metrics import accuracy_score

In [47]:
test2 = test.drop('Loan_ID',1).copy()

In [48]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(random_state=1)
logistic_model.fit(X_train,y_train)
a = logistic_model.predict(X_test)
accuracy_score(a,y_test)

C:\Users\my_wo\.conda\envs\tensorflow\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.7804878048780488

In [49]:
pred_a = logistic_model.predict(test2)

In [50]:
submission = pd.DataFrame({
        "Loan_ID": test["Loan_ID"],
        "Loan_Status": pred_a
    })

submission.to_csv('my_submission1.csv', index=False)

In [51]:
from sklearn.tree import DecisionTreeClassifier
dc = DecisionTreeClassifier()
dc.fit(X_train, y_train)
b = dc.predict(X_test)
accuracy_score(b,y_test)

0.7073170731707317

In [52]:
pred_b = dc.predict(test2)

In [53]:
submission = pd.DataFrame({
        "Loan_ID": test["Loan_ID"],
        "Loan_Status": pred_b
    })

submission.to_csv('my_submission2.csv', index=False)

In [54]:
from sklearn.ensemble import RandomForestClassifier
cls = RandomForestClassifier(random_state=1,max_depth=10,n_estimators=50)
cls.fit(X_train,y_train)
c = cls.predict(X_test)
accuracy_score(c,y_test)

0.7642276422764228

In [55]:
pred_c = cls.predict(test2)

In [56]:
submission = pd.DataFrame({
        "Loan_ID": test["Loan_ID"],
        "Loan_Status": pred_c
    })

submission.to_csv('my_submission3.csv', index=False)